@page
@model FinanceManagement.Areas.AdminPanel.Pages.UserDetailModel

<div>
    <h4>User Profile</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Model.User.UserName
        </dt>
        
    </dl>
</div>